.deck-container {
    padding: 1rem;
    width: 30vw;
    min-width: 450px;
    max-width: 500px;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(30, 30, 30, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 10px 0 0 10px;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.deck-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.save-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: .3rem .5rem;
    font-size: 1rem;
    outline: none;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: rgb(46, 101, 196);
    cursor: pointer;
    color: white;
    transition: all 0.4s;
}

.save-btn:hover {
    background-color: rgb(46, 101, 196, 0.8);
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: rgb(167, 59, 59);
    cursor: pointer;
    transition: all 0.4s;
}

.close-btn:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 350px;
    min-width: 350px;
    margin: 1rem auto -.5rem;
}

.card-prev, .card-prev-s {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 45px;
    padding: .7rem 1rem;
    font-size: 1rem;
    outline: none;
    border: 2px solid transparent;
    border-radius: 12px;
    margin: 0 auto .25rem;
    color: white;
}

.deck-sub, .deck-sub-s {
    color:rgba(255, 255, 255, 0.8);
    margin: .75rem auto;
    background-color: rgb(44, 44, 44);
    width: 35%;
    padding: .3rem 0;
    border-radius: 12px;
    text-align: center;
}

.deck-sub-s {
    background-color: rgba(55, 55, 55);
    margin: 4rem auto .75rem;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}

.remove-one, .remove-four, .remove-one-s, .remove-four-s {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .3rem .5rem;
    font-size: 1rem;
    outline: none;
    border: 2px solid transparent;
    border-radius: 6px;
    margin: 0 auto;
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: brightness(90%);
}

.amount {
    font-weight: 700;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: .2rem .5rem;
    border-radius: 99%;
    background-color: rgba(255, 255, 255, 0.2);
}

.card-name {
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .deck-container {
        padding: .5rem;
        width: 80vw;
        min-width: 0;
    }

    .save-btn {
        width: 45%;
        margin-top: .7rem;
        font-size: .8rem;
    }
    
    .deck {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        max-width: 350px;
        min-width: 350px;
        margin: 1rem auto -.5rem;
    }
    
    .card-prev, .card-prev-s {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        height: 45px;
        padding: .7rem 1rem;
        font-size: 1rem;
        outline: none;
        border: 2px solid transparent;
        border-radius: 12px;
        margin: 0 auto .25rem;
        color: white;
    }
    
    .deck-sub, .deck-sub-s {
        width: 75%;
    }
    
    .remove-one, .remove-four, .remove-one-s, .remove-four-s {
        padding: .3rem .4rem;
        font-size: .8rem;
    }
    
    .amount {
        padding: .2rem .4rem;
    }
    
    .card-name {
        font-size: .8rem;
        margin-left: .3rem;
    }
}

@media only screen and (min-width:601px) and (max-width:900px) {
    .deck-container {
        width: 65vw;
        max-width: 450px;
    }
    
    .modal-header {
        margin-bottom: 1rem;
    }

    .remove-one, .remove-four, .remove-one-s, .remove-four-s {
        font-size: .8rem;
    }
    
    .amount {
        font-size: .8rem;
    }
    
    .card-name {
        font-size: .9rem;
    }

}