.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 200px;
    }
}

@media only screen and (max-width: 900px) {
    .logo {
        width: 300px;
    }
}