.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 0;
  cursor: pointer;
}

.lifecounter-btn {
  background-color: #fe7d01;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
  margin: 4px 40px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s;
}

.lifecounter-btn:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 200px;
  }
}

@media only screen and (max-width: 900px) {
  .logo {
    width: 300px;
  }
}

.language-selector {
  display: flex;
  gap: 0.5rem;
}

.language-selector button {
  padding: 0.3rem;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-selector button svg {
  width: 24px;
  height: auto;
}

.language-selector button.active {
  background-color: #fe7d01;
}

.language-selector button:hover {
  opacity: 0.8;
}
